@import "../../responsive.scss";

.card {
  height: 12rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  // align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;

  &:hover {
    background-color: whitesmoke;
  }

  @include md {
    background-color: whitesmoke;

    &:hover {
      background-color: transparent;
    }
  }

  @include sm {
    height: auto;
  }

  .imgContainer {
    flex: 2;

    @include lg {
      flex: 1.5;
      // min-width: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;

      @include sm {
        max-height: 125px;
      }
    }
  }

  .textContainer {
    height: 100%;
    min-width: 5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 1rem;

    @include sm {
      gap: 0.5rem;
    }

    .cardTitle {
      font-size: 1.25rem;
      font-weight: 600;
      color: #444;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.5s ease;

      &:hover {
        color: black;
        scale: 1.01;
        text-decoration: underline;
      }
    }

    .cardAddress {
      font-size: 1rem;
      color: #999;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      @include sm {
        font-size: 0.875rem;
      }

      .cardAddrIcon {
        @include sm {
          display: none;
        }
      }
    }

    .cardPrice {
      font-size: 1.25rem;
      font-weight: 800;

      @include sm {
        font-size: 1rem;
      }
    }

    .cardBottom {
      // width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;

      @include xs {
        gap: 0.25rem;
        // overflow-y: auto;
      }

      .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        padding: 10px;
        border: 1px solid #c5c5c5;
        border-radius: 0.25rem;
        gap: 5px;
        // background-color: whitesmoke;

        @include sm {
          padding: .375rem .5rem;
        }

        // p span {
        //   @include xs {
        //     display: none;
        //   }
        // }

        &:nth-child(1),
        &:nth-child(2) {
          flex: 1 1 100%;
          min-width: 2.5rem;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
              @include xs {
                display: none;
              }
            }
          }
        }

        &:nth-child(3),
        &:nth-child(4) {
          cursor: pointer;
          transition: all 0.5s ease;
          min-width: 3rem;

          @include xxs {
            min-width: 2rem;
            padding: .375rem;
          }

          &:hover {
            scale: 1.1;
            border-radius: 50%;
            padding: 10px;
            transition: all 0.3s ease;

            .cardIcon {
              fill: #fece51;
            }
          }
        }
      }
    }

    // .cardBottom .feature p span {
    //   @include ssm {
    //     display: none;
    //   }
    // }
  }
}
